@import '../../utils/colors'

// Tablet breakpoint
@media (max-width: 1024px)
  .home-page
    #leader
      h3
        font-size: 28px

@media (max-width: 768px)
  .home-page
    #leader
      h3
        font-size: 20px
        padding-top: 1.5em

      .left
        padding-right: 0

// PHone breakpoint
@media (max-width: 736px)
  .home-page
    #leader
      &.left
        width: 100%

@media (max-width: 414px)
  .home-page
    #leader
      h3
        padding-left: 6.75em

      .left
        width: 100%

        img
          width: 100px
